@import "./recorder.css";
@import "./visualizer.css";
@import "./sequencer.css";
@import "./piano.css";
@import "./effects.css";

:root {
    --sequencer-button-size: 50px;
    --fg-primary: white ;
    --bg: #121212;
    --scrollbar-bg: #09090e;
    --scrollbar-fg: #cccccc;
    --visualizer-fg: var(--fg-primary);
    --sequencer-active-bg: #74c767;
    --input-bg: rgb(49, 49, 49);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--fg-primary);
    background-color: var(--bg);
}

body, a, label, select {
    font-family:'Courier New', Courier, monospace;
}

*::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-fg);
    border-radius: 20px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    cursor: pointer;
}


select, input[type="number"] {
    color: white;
    background-color: var(--input-bg);
    border-radius: 4px;
    border: none;
    padding: 8px;
}

select:focus, input[type="number"]:focus {
    border: none;
    outline: none;
}

.mid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: end;
    flex: 1;
    width: 100%;
    height: 100%;
}

/*Can probably be removed*/
.instruments {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    user-select: none;
}

@media (max-width: 750px) {
    .mid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .mid-container {
        grid-template-columns: 1fr 2fr;
    }
}
