:root {
    --sequencer-button-size: 50px;
    --fg-primary: white ;
    --bg: #121212;
    --scrollbar-bg: #09090e;
    --scrollbar-fg: #cccccc;
    --visualizer-fg: var(--fg-primary);
    --sequencer-active-bg: #74c767;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--fg-primary);
    background-color: var(--bg);
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    cursor: pointer;
}

.recorder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 4px 20px;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.314);
}

#toggle-pause, #end-recording {
    border: none;
    background: none;
    font-size: 30px;
}

#toggle-pause {
    color: red;
    width: 0%;
}

#end-recording {
    color: var(--fg-primary);
}

.mid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    flex: 1;
    width: 100%;
    height: 100%;
}

#visualizer-container {
    grid-column: 1 / -1;
    width: 80vw;
    height: 10vh;
    background-color: #292e3a;
    border-radius: 10px;
    justify-self: center;
    grid-row: 1;
}

.sequencer {
    grid-row: 2;
    align-self: end;
    min-width: 0;
    max-width: 100%;
    overflow-x: auto;
}

.sequencer::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
}

.sequencer::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-fg);
    border-radius: 20px;
    cursor: pointer;
}

.sequencer::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url("https://api.iconify.design/lucide/chevron-left.svg?color=white");
    cursor: pointer;
}

.sequencer::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url("https://api.iconify.design/lucide/chevron-right.svg?color=white");
    cursor: pointer;
}


#step-indicator, .sequencer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    margin-bottom: 10px;
}

.step, .sequencer-button {
    flex-shrink: 0;
}

.step {
    width: var(--sequencer-button-size);
    height: calc(var(--sequencer-button-size) / 2);
    background-color: grey;
    border-radius: 20px;
    height: 10px;
    transition: 0.15s;
}

.step.activated {
    background-color: green;
    transform: scale(1.1);
}

.sequencer-row {
    margin-bottom: 5px;
}

.sequencer-button {
    background-color: #292e3a;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    height: calc(var(--sequencer-button-size) / 2);
    width: var(--sequencer-button-size);
}

.sequencer-button.active {
    background-color: var(--sequencer-active-bg);
}

.sequencer-button:hover {
    transform: scale(1.1);
}

/*Can probably be removed*/
.instruments {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    user-select: none;
}

.piano-roll {
    --key-width: 100%;
    --key-height: 80px;

    border-left: 5px solid rgb(46, 46, 46);
    border-right: 5px solid rgb(36, 36, 36);
    border-radius: 4px;
}

#piano-settings, #piano-settings select {
    font-family:'Courier New', Courier, monospace;
}

#piano-settings {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 4px 0;
    font-weight: 600;
    color: rgb(36, 36, 36);
    background-color: rgb(96, 96, 96);
}

#piano-settings select {
    color: white;
    background-color: rgb(49, 49, 49);
    border-radius: 4px;
    border: none;
    padding: 8px;
}

.synth-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#pan-slider {
    width: 50%;
    height: 50%;
}

#pan-slider::-webkit-slider-runnable-track {
    background-color: rgb(49, 49, 49);
    border-radius: 10px;;
}

#keys {
    display: flex;
}

.key-container {
    position: relative;
    width: 100%;
}

.key-container * {
    height: var(--key-height);
    width: var(--key-width);

    border-radius: 0;
    border: none;
    border-right: 1px solid rgb(83, 83, 83);
}

.key {
    transition: 0.1s;
}

.key:focus {
    transform: rotateX(10deg);
}

.key:not(.black) {
    background: linear-gradient(
        to right,
        rgb(212, 212, 212),
        white 10%,
        white 90%,
        rgb(212, 212, 212)
    );
}

.black {
    position: absolute;
    background: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(28, 28, 28) 30%,
        rgb(28, 28, 28) 70%,
        rgb(0, 0, 0)
    );
    font-size: 10%;
    color: rgb(255, 255, 255);
    z-index: 1;
    width: 50%;
    left: 75%;
    height: 40%;
}

@media (max-width: 850px) {
    #keys > *:nth-child(n+15) {
        display: none;
    }
}

@media (max-width: 450px) {
    #keys > *:nth-child(n+8) {
        display: none;
    }
}
